
html {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
}

.index-main-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding: 50px;
    padding-right: 150px;
    background: linear-gradient(90deg, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
}

.game-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -50px;
    left: 500px;
    /*background: radial-gradient(circle, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);*/
    background-color: rgba(0, 0, 0, 0.45);
    padding: 50px;
    padding-right: 200px;
    border-radius: 50px;
}

.game-showing {
    top: 25%;
    bottom: 25%;
    transition: all 1s;
}

@starting-style {
    .game-showing {
        top: -175%;
        bottom: 125%;
        transition: all 1;
    }
}

.game-store-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.game-container > h2 {
    font-size: 96px;
    align-self: flex-end;
    margin: 0px;
    margin-right: -75px;
}

.game-container > p {
    font-size: 24px;
}

.main-menu-projects {
    display: flex;
    flex-direction: column;
}

.background-video {
    position: absolute;
    top: -5%;
    object-fit: cover;
    z-index: -1;
}

.auto-margin {
    flex-grow: 1;
}