@font-face {
    font-family: Boyfrend;
    src: url(fonts/Boyfrend.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto.ttf);
}

@font-face {
    font-family: American;
    src: url(fonts/American.ttf);
}

html {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    font-family: Roboto;
}

@media only screen and (min-width: 768px) {
    body {
        background-color: black;
        padding: 0px;
        margin: 0px;
        overflow-y: hidden;
        overflow-x: hidden;
        color: rgb(255, 255, 255);
        font-family: Roboto;
    }
}

a {
    padding: 0px;
    margin: 0px;
    color: #FF9A00;
    font-family: Roboto;
    text-decoration: none;
}

.mg-font {
    font-family: Boyfrend;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000, -3px 3px #FF9A00, -4px 4px #000000, -4px 2px #000000;
    /*text-shadow: -2px 2px #414141;*/
    /*text-shadow: -2px 2px #FF9A00;*/
    /*text-align: center;*/
    margin: 5px;
    margin-top: 10px;
}

.font-size-xl {
    font-size: 64px;
}

.font-size-lg {
    font-size: 48px;
}

.font-size-md {
    font-size: 32px;
}

.font-size-sm {
    font-size: 24px;
}

.font-size-xs {
    font-size: 16px;
}

.index-main-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255);
}

@media only screen and (min-width: 768px) {
    .index-main-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0px;
        top: 0px;
        bottom: 0px;
        padding: 50px;
        padding-right: 50px;
        background: linear-gradient(90deg, rgb(0, 0, 0) 95%, rgba(255, 255, 255, 0) 100%);
        /*background-color: rgb(0, 0, 0);*/
    }
}

.index-main-menu-link {
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: #ffffff00;
    border-radius: 15px;
    transition: all 1s;
}

.index-main-menu-link:hover {
    padding: 10px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    background-color: #FF9A00;
    transition: all 1s;
}

.game-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -50px;
    left: 500px;
    /*background: radial-gradient(circle, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);*/
    background-color: rgba(255, 255, 255, 0.0);
    padding: 50px;
    padding-right: 200px;
    border-radius: 50px;
}

.game-showing {
    top: 2%;
    bottom: 2%;
    transition: all 0.8s;
    transition-delay: 0.4s;
}

.game-hidden {
    top: -175%;
    bottom: 225%;
    transition: all 0.8s;
}

.game-store-links {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.game-container > h2 {
    font-size: 144px;
    align-self: flex-end;
    margin: 0px;
    margin-right: -75px;
}

.game-container > p {
    font-size: 24px;
    white-space: pre-line;
    text-justify: inter-word;
}

.main-menu-projects {
    display: flex;
    flex-direction: column;
}

.main-menu-project-uncollapsed {
    margin: 6px;
    margin-left: 48px;
    font-size: 24px;
    transition: all 1s;
}

.main-menu-project-collapsed {
    margin: 0px;
    font-size: 0px;
    transition: all 1s;
}

.main-menu-projects-hidden {
    height: 0px;
    transition: height 1s;
}

.main-menu-projects-show {
    height: auto;
    transition: height 1s;
}

.index-main-menu > p {
    margin: 6px;
}

.background-video {
    position: absolute;
    top: -5%;
    width: 100%;
    z-index: -1;
}

.auto-margin {
    flex-grow: 1;
}

.uncollapsed {
    /*visibility: collapse;*/
    font-size: 24px;
    transition: all 1s;
}

.collapsed {
    /*visibility: collapse;*/
    font-size: 0px;
    transition: all 1s;
}

.platform-name {
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin: 0px;
    flex-grow: 1;
    align-self: center;
}

.platform-icon {
    width: 60px;
    height: 60px;
    margin: auto;
    margin-right: 5px;
}

.itchio-background {
    background: linear-gradient(135deg, rgba(205,65,65,1) 0%, rgba(131,17,17,1) 100%);
}

.steam-background {
    background: linear-gradient(135deg, rgba(0,97,180,1) 0%, rgba(0,39,59,1) 100%);
}

.googleplay-background {
    background: linear-gradient(135deg, rgb(63, 123, 17) 0%,rgb(33, 86, 0) 100%);
}

.store-btn {
    border-radius: 15px;
    width: 225px;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.clickable {
    cursor: pointer;
}

.dark-bg {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transition: all 0.5s;
}

.black-bg {
    background-color: rgb(0, 0, 0);
    z-index: -1;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transition: all 0.5s;
}

.team-full-info {
    position: absolute;
    left: 25%;
    top: 2%;
    bottom: 2%;
    right: 5%;
    display: flex;
    flex-direction: column;
}

.team-members {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-y: auto;
}

.team-row {
    display: flex;
    flex-direction: row;
}

.team-col {
    display: flex;
    flex-direction: column;
}

.team-member {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.team-member-image {
    height: 25vh;
}

.team-member-name {
    font-size: 32px;
    margin: 0px;
    margin-left: 10px;
}

.team-member-roles {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.team-member-role {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.social-media-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-media-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-media-icon {
    width: 32px;
    height: 32px;
    transition: all 0.5s;
}

.social-media-icon:hover{
    margin: -4px;
    width: 40px;
    height: 40px;
    transition: all 0.5s;
}

.social-media-icon-bg {
    width: 256px;
    height: 256px;
    transition: all 0.5s;
}

.social-media-icon-bg:hover {
    margin: -16px;
    width: 288px;
    height: 288px;
    transition: all 0.5s;
}

.credits {
    font-size: 12px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 35px;
}

.contact-info {
    position: absolute;
    left: 25%;
    top: 2%;
    bottom: 2%;
    right: 5%;
    display: flex;
    flex-direction: column;
}