@font-face {
    font-family: Boyfrend;
    src: url(fonts/Boyfrend.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto.ttf);
}

@font-face {
    font-family: American;
    src: url(fonts/American.ttf);
}

html {
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    position: fixed;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;
}

a {
    padding: 0px;
    margin: 0px;
    color: #FF9A00;
    font-family: Roboto;
    text-decoration: none;
}

a:hover {
    padding: 0px;
    margin: 0px;
    color: #ffbfa1;
    font-family: Roboto;
    text-decoration: none;
}

.mg-title {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .mg-title {
        text-align: center;
    }
}

.mg-font {
    font-family: Boyfrend;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000, -3px 3px #FF9A00, -4px 4px #000000, -4px 2px #000000;
    /*text-shadow: -2px 2px #414141;*/
    /*text-shadow: -2px 2px #FF9A00;*/
    /*text-align: center;*/
    margin: 5px;
    margin-top: 10px;
}

.sandwich-container {
    visibility: visible;
    position: absolute;
    margin-top: 12px;
    left: 0px;
    right: 0px;
    justify-content: space-around;
    display: flex;
    transition: all 1s;
}

.sandwich-button {
    width: 48px;
}

@media screen and (min-width: 1024px) {
    .sandwich-button {
        visibility: collapse;
    }
}

.font-size-xl {
    font-size: 64px;
}

.font-size-xlg {
    font-size: 36px;
}

.font-size-lg {
    font-size: 32px;
}

.font-size-md {
    font-size: 24px;
}

.font-size-sm {
    font-size: 20px;
}

.font-size-xs {
    font-size: 16px;
}

@media screen and (min-width: 1024px) {
    .font-size-xl {
        font-size: 64px;
    }
    
    .font-size-xlg {
        font-size: 56px;
    }
    
    .font-size-lg {
        font-size: 48px;
    }
    
    .font-size-md {
        font-size: 32px;
    }
    
    .font-size-sm {
        font-size: 24px;
    }
    
    .font-size-xs {
        font-size: 16px;
    }
}

.index-main-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -100%;
    right: 100%;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    background-color: rgb(0, 0, 0);
    transition: all 1s;
}

@media screen and (min-width: 1024px) {
    .index-main-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: auto;
        padding: 50px;
        padding-right: 50px;
        background: linear-gradient(90deg, rgb(0, 0, 0) 95%, rgba(255, 255, 255, 0) 100%);
    }
}
  

.index-main-menu-link {
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: #ffffff00;
    border-radius: 15px;
    text-align: center;
    transition: all 1s;
}

@media screen and (min-width: 1024px) {
    .index-main-menu-link {
        font-size: 24px;
        color: rgb(255, 255, 255);
        background-color: #ffffff00;
        border-radius: 15px;
        text-align: left;
        transition: all 1s;
    }
}

.index-main-menu-link:hover {
    padding: 10px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    background-color: #FF9A00;
    transition: all 1s;
}

.game-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    /*background: radial-gradient(circle, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);*/
    background-color: rgba(255, 255, 255, 0.0);
    overflow-y: auto;
}

@media screen and (min-width: 1024px) {
    .game-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: -50px;
        left: 500px;
        /*background: radial-gradient(circle, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);*/
        background-color: rgba(255, 255, 255, 0.0);
        padding: 50px;
        padding-right: 200px;
    }
}

.game-showing {
    top: 2%;
    bottom: 2%;
    transition: all 0.8s;
    transition-delay: 0.4s;
}

.game-hidden {
    top: -175%;
    bottom: 225%;
    transition: all 0.8s;
}

.game-store-links {
    display: flex;
    flex-direction: column;
    justify-content: bottom;
}

@media screen and (min-width: 1024px) {
    .game-store-links {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
}

.game-container > h2 {
    text-align: center;
    font-size: 72px;
    align-self: center;
    margin: 10px;
}

@media screen and (min-width: 1024px) {
    .game-container > h2 {
        font-size: 7vw;
        align-self: flex-end;
        margin: 0px;
        margin-right: -75px;
    }
}

.game-container > p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    white-space: pre-line;
    text-justify: inter-word;
}

@media screen and (min-width: 1024px){
    .game-container > p {
        font-size: 1.2vw;
        white-space: pre-line;
        text-justify: inter-word;
    }
}

.main-menu-projects-separator {
    margin-bottom: 36px;
    transition: all 0.8s;
}

@media screen and (min-width: 1024px){
    .main-menu-projects-separator {
        margin-bottom: 0px;
        transition: all 0.8s;
    }
}

.main-menu-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1024px){
    .main-menu-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.main-menu-project-uncollapsed {
    margin: 2px;
    margin-bottom: 4px;
    font-size: 18px;
    transition: all 1s;
}

@media screen and (min-width: 1024px){
    .main-menu-project-uncollapsed {
        margin: 6px;
        margin-left: 48px;
        font-size: 24px;
        transition: all 1s;
    }
}

.main-menu-project-collapsed {
    margin: 0px;
    font-size: 0px;
    transition: all 1s;
}

.main-menu-projects-hidden {
    height: 0px;
    transition: height 1s;
}

.main-menu-projects-show {
    height: auto;
    transition: height 1s;
}

.index-main-menu > p {
    margin: 6px;
}

.background-video {
    position: absolute;
    height: 110%;
    z-index: -1;
}

.video-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

@media screen and (min-width: 1024px) {
    .background-video {
        position: absolute;
        top: -5%;
        width: 100%;
        z-index: -1;
    }
}

.auto-margin {
    flex-grow: 1;
}

.uncollapsed {
    /*visibility: collapse;*/
    font-size: 24px;
    transition: all 1s;
}

.collapsed {
    /*visibility: collapse;*/
    font-size: 0px;
    transition: all 1s;
}

.platform-name {
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin: 0px;
    flex-grow: 1;
    align-self: center;
}

.platform-icon {
    width: 32px;
    height: 32px;
    margin: auto;
    margin-right: 5px;
}

@media screen and (min-width: 1024px) {
    .platform-icon {
        width: 60px;
        height: 60px;
        margin: auto;
        margin-right: 5px;
    }
}

.itchio-background {
    background: linear-gradient(135deg, rgba(205,65,65,1) 0%, rgba(131,17,17,1) 100%);
}

.steam-background {
    background: linear-gradient(135deg, rgba(0,97,180,1) 0%, rgba(0,39,59,1) 100%);
}

.googleplay-background {
    background: linear-gradient(135deg, rgb(63, 123, 17) 0%,rgb(33, 86, 0) 100%);
}

.store-btn {
    border-radius: 10px;
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6px;
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (min-width: 1024px) {
    .store-btn {
        border-radius: 15px;
        width: 225px;
        height: 75px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.clickable {
    cursor: pointer;
}

.dark-bg {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transition: all 0.5s;
}

.black-bg {
    background-color: rgb(0, 0, 0);
    z-index: -1;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transition: all 0.5s;
}

.team-full-info {
    position: absolute;
    margin-top: 64px;
    margin-left: 10px;
    margin-right: 10px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .team-full-info {
        position: absolute;
        left: 25%;
        top: 2%;
        bottom: 2%;
        right: 5%;
        display: flex;
        flex-direction: column;
    }
}

.team-members {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    align-items: flex-start;
}

@media screen and (min-width: 1024px) {
    .team-members {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        overflow-y: auto;
    }
}

.team-row {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 1024px) {
    .team-row {
        display: flex;
        flex-direction: column;
    }
}

.team-col {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .team-row {
        display: flex;
        flex-direction: column;
    }
}

.team-member {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.team-member-image {
    height: 25vh;
    margin-right: 5px;
}

.team-member-name {
    font-size: 32px;
    margin: 0px;
    margin-left: 10px;
}

.team-member-roles {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.team-member-role {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.social-media-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-media-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-media-items-bg {
    display: grid;
    grid-template-columns: 40% 40%;
    width: 100%;
    justify-content: center;
    row-gap: 20px;
    column-gap: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1024px) {
    .social-media-bg {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.social-media-icon {
    width: 32px;
    height: 32px;
    transition: all 0.5s;
}

.social-media-icon:hover{
    margin: -4px;
    width: 40px;
    height: 40px;
    transition: all 0.5s;
}

.social-media-icon-bg {
    width: 200px;
    height: 200px;
    transition: all 0.5s;
}

@media screen and (min-width: 1024px) {
    .social-media-icon-bg {
        width: 256px;
        height: 256px;
        transition: all 0.5s;
    }
}

.social-media-icon-bg:hover {
    margin: -16px;
    width: 288px;
    height: 288px;
    transition: all 0.5s;
}

.credits {
    font-size: 12px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 35px;
    margin-bottom: 20px;
}

.contact-info {
    position: absolute;
    margin-top: 64px;
    margin-left: 10px;
    margin-right: 10px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .contact-info {
        position: absolute;
        left: 25%;
        top: 2%;
        bottom: 2%;
        right: 5%;
        display: flex;
        flex-direction: column;
    }
}

.hidden-on-pc {
    visibility: visible;
}

@media screen and (min-width: 1024px) {
    .hidden-on-pc {
        visibility: collapse;
    }
}

.hidden-on-mobile {
    visibility: collapse;
}

@media screen and (min-width: 1024px) {
    .hidden-on-mobile {
        visibility: visible;
    }
}

